<% if @cat %>
<h1> "My name is <%= @cat %>" </h1>
<% end %>

<form action='/named-cat'>
  <input type='text' name='name' />
  <input type='submit' value='submit'  />
</form>

<div style = 'border: dashed 3px red'>
    <img src='http://bit.ly/1eze8aE'>
</div>
